<h2 class="container page-title">Log in</h2>

<div class="container form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
    <div class="field">
      <%= f.label :login, "Username or Email", class: "form-label"  %>
      <%= f.text_field :login, autofocus: true, autocomplete: "email", class: "form-title" %>
    </div>
  
    <div class="field">
      <%= f.label :password, class: "form-label"  %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-title" %>
    </div>
    <br>
  
    <div class="actions">
      <%= f.submit "Log in", class: "btn" %>
    </div>
  <% end %>
  <br>
  
  <%= render "users/shared/links" %>
</div>
