<p> <%= @user.first_name %> <%= @user.last_name %> </p>

<% if @user == current_user %>
  <%= link_to "Create Event", new_event_path %>
<% end %>

<%= button_to "Created Events", @user, method: :get, params: { type: "created" } %>
<%= button_to "Attending Events", @user, method: :get, params: { type: "attending" } %>

<% if params[:type] == "attending" %>
<p>List of Attending Events</p>
  <%= button_to "Upcoming Events", @user, method: :get, params: { type: "attending", upcoming: "true" } %>
  <%= button_to "Previous Events", @user, method: :get, params: { type: "attending", previous: "true" } %>

  <ul>
    <% if params[:type] == "attending" && params[:previous] == "true" %>
      <% @user.attended_events.where("date_of_event < ?", Time.now).each do |event| %>
        <%= render 'events_list', event: event %>
      <% end %>
    <% elsif params[:type] == "attending" %>
      <% @user.attended_events.where("date_of_event > ?", Time.now).each do |event| %>
        <%= render 'events_list', event: event %>
      <% end %>
    <% end %>
  </ul>
<% else%>
  <p>List of Created Events</p>

  <ul>
    <% @user.created_events.each do |event| %>
      <%= render 'events_list', event: event %>
    <% end %>
  </ul>
<% end %>
