<li>
  <p><%= link_to event.title, event %></p>
  <p><%= event.date_of_event.strftime('%a, %b %-d, %I:%M %p') %></p>
  <p><%= event.location %></p>
  <p>Created by: <%= event.creator.first_name %> <%= event.creator.last_name %></p>
</li>