<h1><%= @event.title %> </h1>
<p> <%= @event.creator.first_name %> <%= @event.creator.last_name %> </p>
<p> <%= @event.date_of_event %> </p>
<p> <%= @event.location %> </p>

<p> <%= button_to 'Going', attendances_path(id: @event.id), method: :post %> </p>

<p>About this event</p>
<p> <%= @event.description %> </p>